doctype html
html(lang="cs")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="description")
        meta(name="keywords")
        meta(name="author" content="Michal Zouhar")
        link(href="assets/css/main.css", rel="stylesheet")
        title Prezentační karaoke
    body
        audio(autoplay loop)
            source(src="assets/sound/lobby.mp3" type="audio/mpeg")
        .alert
        nav#navigation
            img(src="assets/img/icons/pk_logo.svg", alt="logo").logo
            div
                span#mute mute
                span help
                span
                    a(href="https://github.com/FabledDugong/presentation-karaoke" target="blank") github
        header#intro
            h1 prezentační karaoke
            p Tento projekt vznikl v rámci Studentského Trenérského Centra, programu společnosti Microsoft Česká republika, jako absolventská práce studenta Michala Zouhara.
        section#settings
            canvas
            .settings-division
                h3 nastavení
                form
                    div
                        h4 délka prezentace
                        input(name="duration" type="number" placeholder="120")
                    div
                        h4 vyměnit snímky
                        input(name="change" type="number" placeholder="5")
                    h4 témata
                    textarea(name="topics" placeholder="Zadejte vlastní témata, oddělujte čárkami...")
                    #settings-controls
                        button#settopics set new topics
                        button#setdefault default topics
                        button#change change topic
                        input(type="submit" value="play")#play
        section#game
            #countdown
                h2
                h4
            #endgame
                button#adjust adjust settings
                button#again play again

        script(src="assets/js/main.js", type="text/javascript")