doctype html
html(lang="cs")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="description")
        meta(name="keywords")
        meta(name="author" content="Michal Zouhar")
        meta(name="msapplication-TileColor" content="#ffffff")
        meta(name="theme-color" content="#ffffff")
        link(rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png")
        link(rel="mask-icon" href="safari-pinned-tab.svg" color="#021b79")
        link(rel="manifest" href="site.webmanifest")
        link(href="assets/css/main.css", rel="stylesheet")
        title Prezentační karaoke
    body
        audio(autoplay loop)
            source(src="assets/sound/lobby.mp3" type="audio/mpeg")
        .alert
        nav#navigation
            img(src="assets/img/icons/pk_logo.svg", alt="logo").logo
            div
                span#mute ztlumit
                span
                    a(href="https://www.linkedin.com/in/michal-zouhar-000" target="blank") autor
                span
                    a(href="https://github.com/FabledDugong/presentation-karaoke" target="blank") github
        header#intro
            div.intro-division
                div
                    h1 prezentační karaoke
                    p Prezentační karaoke je společenská hra, jejímž cílem je takzvaně probořit ledy. Hra spočívá v tom, že jeden či více hráčů se vžije do role prezentujícího, který musí vést prezentaci na náhodné téma s pomocí náhodné slideshow.
                    h2 jak hrát
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ullamcorper maximus bibendum. Quisque at porta elit. Suspendisse accumsan magna ligula, sit amet ullamcorper eros mollis non.
                    h2 pravidla
                    p Zaměření témat ani jejich počet není nijak omezen. Počet prezentujících hráčů není nijak omezen, běžné jsou však samostatné prezentace nebo dvoučlenné a tříčlenné týmy. Maximální doba trvání prezentace není specifikována, avšak minimální doba trvání prezentace je 1 vteřina, to samé platí pro čas mezi jednotlivými snímky. Je-li je hra brána jako soutěž, pak kritéria, která určují vítěze mohou být libovolně zvolená organizátory.
                div.arrow
                    a(href="#settings")
                        img(src="assets/img/icons/down-arrow.svg", alt="icon").icon.animated.flash
            div.intro-division
                div
                    img(src="assets/img/icons/theater.svg", alt="icon").icon
                    h2 zaručeně se nepřestanete smát
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ullamcorper maximus bibendum. Quisque at porta elit. Suspendisse accumsan magna ligula, sit amet ullamcorper eros mollis non.
                div
                    img(src="assets/img/icons/air-balloon.svg", alt="icon").icon
                    h2 rozšíříte své obzory
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ullamcorper maximus bibendum. Quisque at porta elit. Suspendisse accumsan magna ligula, sit amet ullamcorper eros mollis non.
                div
                    img(src="assets/img/icons/adventurer.svg", alt="icon").icon
                    h2 nic vás nezaskočí
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ullamcorper maximus bibendum. Quisque at porta elit. Suspendisse accumsan magna ligula, sit amet ullamcorper eros mollis non.
        section#settings
            canvas
            .settings-division
                h3 nastavení
                form
                    div
                        h4 délka prezentace
                        input(name="duration" type="number" placeholder="120")
                    div
                        h4 vyměnit snímky
                        input(name="change" type="number" placeholder="5")
                    h4 témata
                    textarea(name="topics" placeholder="Zadejte vlastní témata, oddělujte čárkami...")
                    #settings-controls
                        button#settopics vlastní témata
                        button#setdefault základní témata
                        button#change nové téma
                        input(type="submit" value="hrát")#play
        section#game
            #countdown
                h2
                h4
            #endgame
                button#adjust upravit nastavení
                button#again hrát znovu

        script(src="assets/js/main.js", type="text/javascript")